<br/>
<div class="panel-group" id="accordion">

	
<br/>
<div class="panel-group" id="accordion">

Модуль синхронизации Majordomo и сервиса старлайн телематики starline-online.ru.
	
Данный модуль подключить GSM сигнализацию старлайн  или охранный маяк в MAJORDOMO. Данные устройства должны быть подключены к сервису starline телематика (starline-online.ru). Список сигнализаций можно узнать на сайте производителя. 

Кнопкой LOGIN происходит заполнение полей TOKEN и SESID. 

Реализовано: 
1) Автоматическое получение токена и cookies. 
2) Получение списка привязаного к акаунту оборудования, создание класса starline-online и добавление новых объектов.
3) Получение данных, которые отдает сервис (GPS координаты, напряжение АКБ, версия прошивки GSM модуля, баланс сим-карты, статуса работы двигателя, охраны и тд.)
4) Открытие дверей и снятие с охраны автомобиля в целях безопасности в модуль не включено.
5) Передача GPS координат штатному плагину GSP-трекер. Действия по прибытию в определенную точку настраивайте через штатный плагин.

Модуль создает цикл cycle_starline, по которому обновление параметров просходит раз в 5 минут (настройки плагина пока игнорируются). Бывают ситуации, что сервис возвращает капчу, в таком случае желательно войти через браузер в сервис и ввести капчу вручную. Если не вводить, через какое-то время все равно авторизация происходит корректно.

В планах:

2) Запуск двигателя, запуск webasto. 
3) Обработка капчи.
4) Информирование при минимальном балансе сим-карты, понижении температуры двигателя ниже заданного порога, при понижении напряжения АКБ.	



<a href="https://github.com/directman66/majordomo-starline" target="_blank">Ссылка на репозиторий</a>.<br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5424" target="_blank">Тема на форуме</a>.<br>
	
</div>


	
</div>
