<!--# Action Usual #-->

<!--# TYPE=[#TYPE#]#-->


[#if TYPE=""#]
 [#inc today_nick7zmail.html#]
[#endif#]

[#if TYPE="TODAY"#]
  [#inc indata_today.html#]
[#else#]
[#endif#]

[#if TYPE="FORECAST"#]
  [#inc indata.html#]
[#else#]
[#endif#]

[#if TYPE="TODAYMINI"#]
  [#inc menu.html#]
[#else#]
[#endif#]

[#if TYPE="TEXTMINI"#]
  [#inc textmini.html#]
[#else#]
[#endif#]

[#if TYPE="FORECASTMINI"#]
  [#inc forecastmini.html#]
[#else#]
[#endif#]

[#if TYPE="TODAY_NICK7ZMAIL"#]
<table border=1>  <tr><td>
  [#inc today_nick7zmail.html#]
</td></tr>
</table>   

[#else#]

[#endif#]

