


<div>
<img src="../img/modules/yandexweather2.png"  >
 &nbsp;&nbsp;<a class="btn btn-default" href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a>
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=get&tab=">GET DATA</a>

&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]

 &nbsp; 
</div>

<div style="display:none" id='api_settings'>

&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<!--
<table>
 <tr><td>
<div class="form-group">
 <label class="control-label">UUID:</label>
 <div class="controls"><input type="text" name="duuid" value="[#DUUID#]" class="input">  </div>
  </td><td>
 <label class="control-label">DEVICEID:</label>
 <div class="controls"><input type="text" name="deviceid" value="[#DEVICEID#]" class="input"> 
</div>
 </td><td>
 
<div class="form-group">
 <label class="control-label">
 <#LANG_AUTO_UPDATE_PERIOD#>:(*)
 </label>
 <div class="controls">
		<select name="every" class="input span2">
			<option[#if EVERY="5"#] selected[#endif#]>5
			<option[#if EVERY="10"#] selected[#endif#]>10
			<option[#if EVERY="15"#] selected[#endif#]>15
			<option[#if EVERY="20"#] selected[#endif#]>20
			<option[#if EVERY="30"#] selected[#endif#]>30
			<option[#if EVERY="60"#] selected[#endif#]>60
		 </select> минут 
 </div>
</div>
 </td><td>
<div class="form-actions"> 
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</td>
 </table>
-->
 [#inc config.html#] 


	[#inc config_edit.html#] 
</fieldset>
</form>
</div>
<br/>
<ul class="nav nav-tabs">
        <li [#if TAB=="" || TAB=="indata" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=indata">Погода на сегодня</a> </li>
<li [#if TAB=="indataforecast" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=indataforecast">Погода на 7 дней</a> </li>	
<li [#if TAB=="widgets" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=widgets">Виджеты</a> </li>	
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?tab=help">Help</a> </li>
</ul>
[#if TAB="indata" || TAB==""#] [#inc indata_today.html#] [#endif#]
[#if TAB="indataforecast"#] [#inc indata.html#] [#endif#]
[#if TAB="widgets"#] [#inc widgets.html#] [#endif#]
[#if TAB="help"#] [#inc help.html#] [#endif#]
