<br/>
<p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if CITYES#]
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>

[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="indata" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>

 <th>Страна</th>
 <th>Город</th>  
<th>Область</th>  
<th>ID</th>  
<th>Проверять</th>  
<th>MyCity</th>  
<th>Координаты (latlon)</th>   
 
 


 <th>&nbsp;</th>
</tr>
</thead>
<tbody>
[#begin CITYES#]
<tr style="height:52px" class="hover_btn2">



 <td style="vertical-align:middle"><b>[#country#]</b> </td>
 <td style="vertical-align:middle">
  [#if cityname!=""#]
   [#cityname#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

 <td style="vertical-align:middle">
  [#if part!=""#]
   [#part#]
  [#else#]
  [#endif#]
 </td>  

 <td style="vertical-align:middle">
  [#if ID!=""#]
   [#ID#]
  [#else#]
  [#endif#]
 </td>  
 

  <td style="vertical-align:middle">
 [#if check=="1"#]
   <a href="?view_mode=config_uncheck&id=[#ID#]" class="btn btn-default" title="Не проверять"><i class="glyphicon glyphicon-ok"></i></a>
  [#else#]
 <a href="?view_mode=config_check&id=[#ID#]" class="btn btn-default" title="Проверять"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif#]
  </td>  


  
<td style="vertical-align:middle" > 
  [#if mycity=="1"#]   
<i class="glyphicon glyphicon-star"></i>  
[#else#]
<a href="?view_mode=config_mycity&id=[#ID#]" class="btn btn-default" title="Это мой город"><i class="glyphicon glyphicon-star-empty"></i></a>     
[#endif#]   	
</td>   
 

  <td style="vertical-align:middle">
  [#if latlon!=""#]
   [#latlon#]
  [#else#]
  [#endif#]
 </td>  
  


 
 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
<!--   <a href="?view_mode=config_edit&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a> -->
   <a href="?view_mode=indata_del&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
    [#endif ACTION#]
  </div>
 </td>
 
</tr>

[#end CITYES#]

</tbody>

</table>

<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
