<table width=100% border=0><tr><td>
<h2>Добавить город:</h2>
 </td></tr>
 <tr><td>
<div class="form-group">
Страна:
<input type="text" class="form-control" name="country" value="[#country#]" id="country"> <#LANG_SID_INFO#>
</td><td>
Город:
<input type="text" class="form-control" name="cityname" value="[#cityname#]" id="cityname">
</td><td>
Область:
<input type="text" class="form-control" name="part" value="[#part#]" id="part">
</td><td>
ID:
<input type="text" class="form-control" name="ID" value="[#ID#]" id="ID">
</td><td>
latlon:
<input type="text" class="form-control" name="latlon" value="[#latlon#]" id="latlon">
</td><td>
 <div class="form-actions" align="left">
<button type="submit" name="subm" value="Submit" class="btn btn-primary">Добавить</button>
<input type="hidden" name="view_mode" value="add_city">	
<input type="hidden" name="mode" value="update">
 
 </div>
 </td></tr></table>
</div>
</fieldset>
</form>
