<br/>
<p>

</p>

<form action="?" method="post" name="events" style="padding:0px" class="form">
  
<br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=sayweather&tab=events">Погода сейчас</a> Проговаривает голосом текущую погоду<br><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=sayforecast&tab=events">Прогноз погоды</a> Проговаривает голосом прогноз погоды на завтра <br> <br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmweather&tab=events">Будильник погода</a> Добавляет в модуль будильник голосовое уведомление текущей погоды в будний день в 07:00<br>   <br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmforecast&tab=events">Будильник прогноз</a> Добавляет в модуль будильник голосовое уведомление прогноза погоды в будний день в 07:15<br>    


  </form>

