<br/>
<p>

</p>

<form action="?" method="post" name="events" style="padding:0px" class="form">
  
<br>
			<div class="form-group">





<fieldset>
	
				
		

<div class="form-group">
 <div class="controls">
 <label>
 <input type="checkbox" name="enable_events" value="1"[#if ENABLE_EVENTS="1"#] checked[#endif#]> 
Уведомлять  об изменении погоды</label>
 </div>
</div>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit" name="subm" value="Submit" class="btn btn-primary">Сохранить</button>
				<input type="hidden" name="view_mode" value="update_eventssettings">
				<input type="hidden" name="tab" value="event">
				<input type="hidden" name="mode" value="update">

</div>
				
<label class="control-label">
Уровень сообщений ($MSG_LEVEL):
 </label>	
 <div class="controls">
		<select name="msg_level" class="input span2">
			<option[#if MSG_LEVEL="1"#] selected[#endif#]>1
			<option[#if MSG_LEVEL="2"#] selected[#endif#]>2
			<option[#if MSG_LEVEL="3"#] selected[#endif#]>3
			<option[#if MSG_LEVEL="4"#] selected[#endif#]>4
			<option[#if MSG_LEVEL="5"#] selected[#endif#]>5
			<option[#if MSG_LEVEL="6"#] selected[#endif#]>6
			<option[#if MSG_LEVEL="7"#] selected[#endif#]>7						    
			<option[#if MSG_LEVEL="8"#] selected[#endif#]>8						    
			<option[#if MSG_LEVEL="9"#] selected[#endif#]>9						    
			<option[#if MSG_LEVEL="10"#] selected[#endif#]>10						    						    
		 </select>  
 </div>				





			

<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=sayweather&tab=events">Погода сейчас</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Проговаривает голосом текущую погоду<br><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=sayforecast&tab=events">Прогноз погоды</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Проговаривает голосом прогноз погоды на завтра <br> <br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmweather&tab=events">Будильник погода</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Добавляет в модуль "будильник" голосовое уведомление текущей погоды в будний день в 07:00<br>   <br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=alarmforecast&tab=events">Будильник прогноз</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Добавляет в модуль "будильник" голосовое уведомление прогноза погоды в будний день в 07:15<br>    




  </form>
