<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		<p><b>Модуль получения данных о погоде с сайта яндекс.</b></br>     </br>
Для добавления своего города - нужно узнать из строки браузера номер своего города.
[code]https://yandex.ru/pogoda/[b]2[/b]  [/code]
Например для Санкт-Петербурга это значение 2 нужно добавить в таблицу yaweather_cities на примере уже имеющихся данных и поставить 1 напротив поля check. 

зыж: Просьба к тем, кто уже умеет хороший опыт в написании плагинов, покажите как сделать более удобный редактор с чекбоксами, который можно самому добавлять.	
		</div> </div> </div>

