<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
<div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a></div>
<p><b>Модуль получения данных о погоде с сайта яндекс.</b></br>     </br>
Для добавления своего города - нужно узнать из строки браузера номер своего города.
[code]https://yandex.ru/pogoda/[b]2[/b]  [/code]
Например для Санкт-Петербурга это значение 2 нужно добавить в таблицу yaweather_cities на примере уже имеющихся данных и поставить 1 напротив поля check. 
		</div>



		</div>
</div> </div>

<br>
<p><b>Поддержать разработку и развитие модуля:</b><br>
Банковская карта: 5106211026111760<br>
Yandex деньги: 41001189619405<br>
и другие способы по договоренности (Сбербанк, ГПБ).<br>
С уважением, directman66.<br>
sannikovdi@ya.ru<br>



	

