<br/>
<p>

</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="indata" style="padding:0px" class="form">
<table  align=center class="table table-striped">
<thead>
<tr>

 <th>Город</th>
 <th>Обновлено</th>  
<th>t°С</th>  
<th>Обл.</th>  
<th>Ветер, м/с</th>  
<th>Нап.ветра</th>  
<th>Давл., мм</th>  
<th>Влажн. %</th>  
 <th>&nbsp;</th>  
 <th>&nbsp;</th>  
<th>Утро</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>День</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>Вечер</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>&nbsp;</th>  
<th>Ночь</th>  
<th>&nbsp;</th>  

 
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr style="height:52px" class="hover_btn2">
 
 
<td style="vertical-align:middle">
 <a href="https://yandex.ru/pogoda/[#TITLE#]"> <b>[#TITLE#]</b> </a>
 </td>
 
 
 <td style="vertical-align:middle">
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

 <td style="vertical-align:middle">
  [#if temp!=""#]
   [#temp#]
  [#else#]
  [#endif#]
 </td>  

 <td style="vertical-align:middle">
  
  
  [#if conditionn!=""#]
   <img src="../img/modules/[#conditionn#].png">
   
  [#else#]
  [#conditionn#]
  [#endif#]
 
  
 </td>  
 <td style="vertical-align:middle">
  [#if wind_speed!=""#]
   [#wind_speed#]
  [#else#]
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if wind_dir!=""#]
  <img src="../img/modules/[#wind_dir#].png">
  
  [#else#]
 [#wind_dir#]  
   &nbsp;
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if pressure_mm!=""#]
   [#pressure_mm#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

<td style="vertical-align:middle">
  [#if humidity!=""#]
   [#humidity#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  

<td style="vertical-align:middle">
&nbsp;
</td>  
<td style="vertical-align:middle">
&nbsp;
</td>   

 <td style="vertical-align:middle">
  [#if forecast_0_morning_temp_avg!=""#]
   [#forecast_0_morning_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
 <td style="vertical-align:middle">
  [#if forecast_0_morningcondition!=""#]
<img src="../img/modules/[#forecast_0_morningcondition#].png">     
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
  <td style="vertical-align:middle">
  [#if forecast_0_morning_wind_speed!=""#]
   [#forecast_0_morning_wind_speed#]
  [#else#]
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if forecast_0_morning_wind_dir!=""#]
  <img src="../img/modules/[#forecast_0_morning_wind_dir#].png">
  [#else#]
 [#wind_dir#]  
   &nbsp;
  [#endif#]
 </td>  
 
 
 
 <td style="vertical-align:middle">
  [#if forecast_0_day_temp_avg!=""#]
   [#forecast_0_day_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
 <td style="vertical-align:middle">
  [#if forecast_0_daycondition!=""#]
<img src="../img/modules/[#forecast_0_daycondition#].png" title="[#forecast_0_daycondition#]">     
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
  <td style="vertical-align:middle">
  [#if forecast_0_day_wind_speed!=""#]
   [#forecast_0_day_wind_speed#]
  [#else#]
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if forecast_0_day_wind_dir!=""#]
  <img src="../img/modules/[#forecast_0_day_wind_dir#].png">
  [#else#]
 [#wind_dir#]  
   &nbsp;
  [#endif#]
 </td>  
 
 
 

 
 <td style="vertical-align:middle">
  [#if forecast_0_evening_temp_avg!=""#]
   [#forecast_0_evening_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
 <td style="vertical-align:middle">
  [#if forecast_0_eveningcondition!=""#]
<img src="../img/modules/[#forecast_0_eveningcondition#].png" title="[#forecast_0_eveningcondition#]">     
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
  <td style="vertical-align:middle">
  [#if forecast_0_evening_wind_speed!=""#]
   [#forecast_0_evening_wind_speed#]
  [#else#]
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if forecast_0_evening_wind_dir!=""#]
  <img src="../img/modules/[#forecast_0_evening_wind_dir#].png">
  [#else#]
 [#wind_dir#]  
   &nbsp;
  [#endif#]
 </td>  
 
 
 
 
 
 
  <td style="vertical-align:middle">
  [#if forecast_0_night_temp_avg!=""#]
   [#forecast_0_night_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
 <td style="vertical-align:middle">
  [#if forecast_0_nightcondition!=""#]
<img src="../img/modules/[#forecast_0_nightcondition#].png" title="[#forecast_0_nightcondition#]">     
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 
  <td style="vertical-align:middle">
  [#if forecast_0_night_wind_speed!=""#]
   [#forecast_0_night_wind_speed#]
  [#else#]
  [#endif#]
 </td>  
 <td style="vertical-align:middle">
  [#if forecast_0_night_wind_dir!=""#]
  <img src="../img/modules/[#forecast_0_night_wind_dir#].png">
  [#else#]
 [#wind_dir#]  
   &nbsp;
  [#endif#]
 </td>  
 
 
 
  
   


 <td style="vertical-align:middle" width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]

  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b>Pages:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
<td>
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
[#end PAGES#]
</td>
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
