<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULTMYCITY#]
<form action="?" method="post" name="indata" style="padding:0px" class="form">
 
[#begin RESULTMYCITY#]
<h2>
  <table width="80%" border=0><tr> 
   <td>[#locality_name#] [#district_name#] </td>
 
<td>
[#if temp!=""#]
   [#temp#]
  [#else#]
  [#endif#]   
°С  
   </td>
<td>
   [#if conditionn!=""#]
<img src="/templates/yandexweather/img/skin/[#SKIN#]/[#conditionn#].[#FORMAT#]" itle="[#conditionn#]  [#forecast_0_day_wind_speed#]"  
  [#else#]
  [#conditionn#]
  [#endif#]
</td></h2></tr>
 <tr><td><small> <small>  <small>   
ветер&nbsp;
[#if forecast_0_day_wind_dir="s"#] южный [#endif#] 
[#if forecast_0_day_wind_dir="se"#] юго-западный [#endif#]   
[#if forecast_0_day_wind_dir="sw"#] юго-восточный [#endif#]     
[#if forecast_0_day_wind_dir="e"#] западный [#endif#]  
[#if forecast_0_day_wind_dir="n"#] северный [#endif#]
[#if forecast_0_day_wind_dir="ne"#] северо-западный [#endif#]   
[#if forecast_0_day_wind_dir="nw"#] северо-восточный [#endif#]     
[#if forecast_0_day_wind_dir="w"#] восточный [#endif#]
&nbsp;[#forecast_0_day_wind_speed#]&nbsp;м/с
 </td></tr>
</small> </small> </small> </table>    
<p> 
  <table width=100% border=0><tr>
  <td>Утро</td>
  <td>День</td>
  <td>Вечер</td>
   <td>Ночь</td></tr></p>
<tr>   
 <td>[#forecast_0_morning_temp_avg#]°</td>
 <td>[#forecast_0_day_temp_avg#]°</td>
 <td>[#forecast_0_evening_temp_avg#]°</td>
 <td>[#forecast_0_night_temp_avg#]°</td>  
</tr> 
<tr>    
<td><img src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_morningcondition#].[#FORMAT#]" title="[#forecast_0_morningcondition#]">     
</td> 
 <td><img src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_daycondition#].[#FORMAT#]" title="[#forecast_0_daycondition#]">     
</td> 
 <td><img src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_eveningcondition#].[#FORMAT#]" title="[#forecast_0_eveningcondition#]">     
</td> 
 <td><img src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_nightcondition#].[#FORMAT#]" title="[#forecast_0_nightcondition#]">     
</td> 
 </tr>  </table>
[#end RESULTMYCITY#]
  </table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>

[#else RESULTMYCITY#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULTMYCITY#]


