

<br/>
<p>

</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULTMYCITY#]
<form action="?" method="post" name="indata" style="padding:0px" class="form">
 
  
 
[#begin RESULTMYCITY#]
 [#locality_name#] [#district_name#] 
 <img src="../templates/yandexweather/img/skin/[#SKIN#]/[#conditionn#].png">
[#end RESULTMYCITY#]

<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>

[#else RESULTMYCITY#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULTMYCITY#]
<!-- / results -->
</td></tr></table>

