

<br/>
<p>

</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULTMYCITY#]
<form action="?" method="post" name="indata" style="padding:0px" class="form">
 
  
 
[#begin RESULTMYCITY#]
 [#locality_name#] [#district_name#] 
 <br>
[#if temp!=""#]
   [#temp#]
  [#else#]
  [#endif#]    
 
[#if conditionn!=""#]
<img src="../templates/yandexweather/img/skin/[#SKIN#]/[#conditionn#].png">
  [#else#]
  [#conditionn#]
  [#endif#]
 <br>
 <p> Утро&nbsp;&nbsp;&nbsp;День&nbsp;&nbsp;&nbsp;Вечер&nbsp;&nbsp;&nbsp;Ночь <br></p>
 
   [#if forecast_0_morning_temp_avg!=""#]
   [#forecast_0_morning_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
   [#if forecast_0_morningcondition!=""#]
<img src="../templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_morningcondition#].png">     
  [#else#]
   &nbsp;
  [#endif#]
 
 
 [#if forecast_0_day_temp_avg!=""#]
   [#forecast_0_day_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
  [#if forecast_0_daycondition!=""#]
<img src="../templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_daycondition#].png" title="[#forecast_0_daycondition#]">     
  [#else#]
   &nbsp;
  [#endif#]
 
 [#if forecast_0_evening_temp_avg!=""#]
   [#forecast_0_evening_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
   [#if forecast_0_eveningcondition!=""#]
<img src="../templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_eveningcondition#].png" title="[#forecast_0_eveningcondition#]">     
  [#else#]
 
 
  [#if forecast_0_night_temp_avg!=""#]
   [#forecast_0_night_temp_avg#]  
  [#else#]
   &nbsp;
  [#endif#]
  [#if forecast_0_nightcondition!=""#]
<img src="../templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_nightcondition#].png" title="[#forecast_0_nightcondition#]">     
  [#else#]
 
 
[#end RESULTMYCITY#]

<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>

[#else RESULTMYCITY#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULTMYCITY#]
<!-- / results -->
</td></tr></table>

