<br/>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<table width=90% border=0><tr><td>
<h2>Поиск города:</h2>
 </td></tr>
 <tr><td>

Строка поиска:
<input type="text" class="form-control" name="findstr" value="[#findstr#]" id="findstr">
</td><td>
 <div class="form-actions" align="left">
<button type="submit" name="subm" value="Submit" class="btn btn-primary">Найти</button>
<input type="hidden" name="view_mode" value="find_city">	
<input type="hidden" name="mode" value="update">
 </div>
 </td></tr></table>

</fieldset>
</form>
