<br/>	
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<table  border=0 cellspacing=20>
 <tr><td>
Строка поиска: (внимание, ответ иногда приходит только на второй запрос, поэтому, если ответа нет - повторите запрос)
</td><td></td>
</tr>
<tr><td>
<input type="text" class="form-control" name="findstr" value="[#findstr#]" id="findstr" style="width: 750px;" >
</td><td>

<button type="submit" name="subm" value="Submit" class="btn btn-primary">Найти</button>
<input type="hidden" name="view_mode" value="find_city">	
<input type="hidden" name="mode" value="update">
<input type="hidden" name="tab" value="settings2">

 </td></tr>

</fieldset>
</form>

<tr><td align="left">

<br>Выбор по ID города</td></tr><tr><td>
<form action="?" method="get" class="form-horizontal" name="onselect">
<input type="hidden" name="view_mode" value="onselect">
<select name="city_id" class="form-control" style="width: 750px;" align="left">
<!--  <option value=""><#LANG_SELECT#> -->
[#begin yw_city_select#]
<option value="[#CITY_ID#]"[#if SELECTED#] selected[#endif#]>[#CITY_NAME#]
[#end yw_city_select#]
 </select>
</td><td valign="top">

<button type="submit" name="subm" value="Submit" class="btn btn-primary">Добавить</button>
<input type="hidden" name="view_mode" value="select_city">	
<input type="hidden" name="mode" value="update">
<input type="hidden" name="tab" value="settings2">
</form>
  

<!--      <button type="submit" name="ow_subm" value="setCityId" class="btn btn-primary"><#LANG_SUBMIT#></button> 
      <input type="hidden" id="current" name="current" value="">

-->
   </div>
   </div>

</table>
</form>


