 <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>



[#if RESULTMYCITY#]
 
[#begin RESULTMYCITY#]
<table width=100% border=0><tr>
<td valign=top>


<h2>
  <table width="100%" border=0><tr> 

 
<td>
<i class="fa [#trandtempfa#]"></i> 
[#if temp!=""#] [#temp#]
[#else#]  [#endif#]   
°С  
   </td>
<td>   
/   
   </td> 
<td>   
<i class="fa [#trandhumfa#]"></i>  
[#if humidity!=""#] [#humidity#]%
[#else#]  [#endif#]   
   </td> 
<td>   
/   
   </td> 
<td>   
<i class="fa [#trandpresfa#]"></i>  
[#if pressure_mm!=""#] [#pressure_mm#]mm
[#else#]  [#endif#]   
   </td> 
   

   
    
 </tr>  

<tr>
 <td valign=middle>
[#if conditionrus!=""#] [#conditionrus#]
[#else#]  [#endif#]   
  
 </td><tr>
 </table>
 </table>
 </h2>  
[#end RESULTMYCITY#]



[#else RESULTMYCITY#]
 

<font color="red"><#LANG_NO_RECORDS_FOUND#></font>

[#endif RESULTMYCITY#]
