<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULTMYCITY#]
<form action="?" method="post" name="indata" style="padding:0px" class="form">
 
[#begin RESULTMYCITY#]
<h2>
  <table width="80%" border=0><tr> 

 
<td>
<i class="fa [#trandtempfa#]"></i> 
[#if temp!=""#] [#temp#]
[#else#]  [#endif#]   
°С  
   </td>
<td>   
/   
   </td> 
<td>   
<i class="fa [#trandhumfa#]"></i>  
[#if humidity!=""#] [#humidity#]%
[#else#]  [#endif#]   
   </td> 
<td>   
/   
   </td> 
<td>   
<i class="fa [#trandpresfa#]"></i>  
[#if pressure_mm!=""#] [#pressure_mm#]
[#else#]  [#endif#]   
   </td> 
   

   
   
 </tr>  </table>
[#end RESULTMYCITY#]
  </table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
</form>

[#else RESULTMYCITY#]
 <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<font size="4" color="%yw_mycity.trandtempColor%"><i class="fa %yw_mycity.trandtempfa% "></i>%yw_mycity.temp%°C / </font>

<font size="4" color="%yw_mycity.trandhumColor%"><i class="fa %yw_mycity.trandhumfa% "></i>%yw_mycity.humidity% % / </font> 
  
<font size="4" color="%trand.presColor%"><i class="fa %yw_mycity.trandpresfa% "></i>%yw_mycity.yw_mycity.pressure_mm%</font>  
 <br> %yw_mycity.conditionrus%
 
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULTMYCITY#]

