<head>
<link rel="stylesheet" type="text/css" href="/templates/yandexweather/today_nick7zmail.css">
</head>


<table border=1>  <tr><td>
[#if RESULTMYCITY#]
 
[#begin RESULTMYCITY#]
   </div>

<div class="fact">
 <div class="fact_temp">
  <div class="fact_navlink" tabindex="0" href="https://yandex.ru/pogoda/maps/nowcast">
   <div class="nowcast-alert__text">В центре в ближайшие два часа осадков не ожидается</div>

  </div>
  <div class="fact_details" tabindex="0" href="https://yandex.ru/pogoda">
[#locality_name#] [#district_name#]
   <time class="fact__time">Сейчас [#DESCRIPTION#]</time>
<img   src="/templates/yandexweather/img/skin/[#SKIN#]/[#condition#].[#FORMAT#]" title="[#condition#]" aria-hidden="true">

    <div class="temp fact__temp">
     <span class="temp__value">[#temp#]</span><span class="temp__unit i-font i-font_face_yandex-sans-text-medium">°</span>
    </div>
  </div>
   <div class="fact__condition">[#conditionrus#]</div>
   <dl class="term_orient_h fact__feels-like">
    <dt class="term__label">Ощущается как</dt>
    <dd class="term__value">
     <div class="temp">
     <span class="temp__value">
[#feels_like#]
</span>
     <span class="temp__unit i-font i-font_face_yandex-sans-text-medium">°</span>
     </div>
    </dd>
   </dl>
   <dl class="term term_orient_h fact__yesterday">
    <dt class="term__label">Вчера в это время</dt>
    <dd class="term__value">
     <div class="temp">
     <span class="temp__value">−127</span>
     <span class="temp__unit i-font i-font_face_yandex-sans-text-medium">°</span>
     </div>
    </dd>
   </dl>
   </div>
  
  
  <div class="fact__props">
   <dl class="term term_orient_v fact__wind-speed">
    <dt class="term__label">Утром</dt>
     <dd class="term__value">
<img   src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_morningcondition#].[#FORMAT#]" title="[#forecast_0_morningcondition#]" aria-hidden="true">
[#forecast_0_morning_temp_avg#]





      <span class="fact__unit">°C</span>
     </dd>
    </dl>
    <dl class="term term_orient_v fact__pressure">
     <dt class="term__label">Днем</dt>
     <dd class="term__value">



<img   src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_morningcondition#].[#FORMAT#]" title="[#forecast_0_morningcondition#]" aria-hidden="true">
 [#forecast_0_day_temp_avg#]
      <span class="fact__unit">°C</span>
     </dd>
    </dl>
    <dl class="term term_orient_v fact__humidity">
     <dt class="term__label">Вечером</dt>
     <dd class="term__value">
<img   src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_eveningcondition#].[#FORMAT#]" title="[#forecast_0_eveningcondition#]" aria-hidden="true">
 [#forecast_0_evening_temp_avg#]
      <span class="fact__unit">°C</span>
     </dd>
    </dl>
    <dl class="term term_orient_v fact__humidity">
     <dt class="term__label">Ночью</dt>
     <dd class="term__value">
<img   src="/templates/yandexweather/img/skin/[#SKIN#]/[#forecast_0_nightcondition#].[#FORMAT#]" title="[#forecast_0_nightcondition#]" aria-hidden="true">
 [#forecast_0_night_temp_avg#]
      <span class="fact__unit">°C</span>
     </dd>
    </dl>
  </div>
</div>

[#end RESULTMYCITY#]


[#else RESULTMYCITY#]


<font color="red"><#LANG_NO_RECORDS_FOUND#></font>

[#endif RESULTMYCITY#]
</td></tr>
</table>   
