<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
</head>
<body>
 <code>
&#091#module name="yandexweather" type="TODAY"#&#093
</code>
<table width="500"  >
<tr><td>
[#module name="yandexweather" type="TODAY"#] 
 </td></tr></table>

<br>    
<code>
&#091#module name="yandexweather" type="TODAY" skin="2"#&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="TODAY" skin="2"#] 
 </td></tr> </table>       

<br>    
<code>
&#091#module name="yandexweather" type="FORECAST"#&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="FORECAST"#] 
 </td></tr> </table>           

<br>
    <code>
&#091#module name="yandexweather" type="FORECAST" skin="2"#&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="FORECAST" skin="2"#] 
 </td></tr> </table>               

<br><code>
&#091#module name="yandexweather" type="TODAYMINI" #&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="TODAYMINI" #] 
 </td></tr> </table>               
    


<br><code>
&#091#module name="yandexweather" type="TODAYMINI" skin="2" #&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="TODAYMINI" skin="2"#]     
 </td></tr> </table>                   


<br><code>
&#091#module name="yandexweather" type="TEXTMINI" " #&#093
</code>    
<table width="500" >
<tr><td>
[#module name="yandexweather" type="TEXTMINI" #]       
 </td></tr> </table>                       

